[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
flake8 = "*"
selenium = "*"
livereload = "*"

[packages]
gunicorn = "==20.1.0"
whitenoise = "==5.2.0"
ibmcloudenv = "*"
django = ">=3.1"
